/* GLOBAL STYLES
----------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    /*padding-bottom: 3rem;*/
    color: #5a5a5a;
}

/* Customizing the Carousel
------------------------------------------ */
/*.carousel {*/
/*    margin-bottom: 4rem;*/
/*}*/

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
    height: 32rem;
}

/* Responsive CSS
------------------------------------ */
@media (min-width: 40em) {
    /* Increase size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

.carousel-bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.post-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons-item{
    font-size: 5rem;
}

.showcase-img {
    min-height: 30rem;
    background-size: cover;
    /*border: 0.3rem solid #0c5460;*/
    /*!*border-radius: 5%;*!*/
}

.team-container {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.team-item {
    max-width: 18rem;
}

.call-to-action {
    position: relative;
    background-image: url("../images/email-bg.jpg");
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

.form-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}