{% extends 'base.html' %}
{% load static %}

{% block custom_style_link %} <link rel="stylesheet" href="{% static 'css/auth.css' %}" /> {% endblock %}


{% block header %}{% endblock %}

{% block start_container %}

    <div class="container text-center">
        {% for message in messages %}
            {% if message.tags == 'alert-danger' %}
                <div class="alert {{ message.tags }} text-danger p-1 alert-dismissable" role="alert">
                    <!-- <p> -->
                        <span>Invalid Username or Password
                            <!-- <span style="cursor: pointer;" type="span" class="close text-danger" data-dismiss="alert" aria-label="Close">
                                &times;
                            </span> -->
                        </span>
                    <!-- </p> -->
                    
                </div>
            {% endif %}

        {% endfor %}
        <form action="" method="POST" class="form-signin shadow-lg p-5 rounded">
            {% csrf_token %}
            <h1 class="h3 mb-4 font-weight-bold text-primary"><a href="{% url 'home' %}">KaliBlog</a></h1>
            <label for="{{ form.username.id_for_label }}" class="sr-only">Email Address</label>
            <input type="email" class="form-control mb-2" id="{{ form.username.id_for_label }}" 
                name="{{ form.username.name }}" placeholder="Email Address" required autofocus 
                autocomplete="off" />
            <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
            <input type="password" class="form-control mb-2" id="{{ form.password.id_for_label }}"
                name="{{ form.password.name }}" placeholder="Password" required autocomplete="off" />
            <div class="checkbox mb-3">
                <label class="d-block text-left mt-3">
                    <input type="checkbox" value="remember me"> Remember Me
                </label>
            </div>
            <button class="btn btn-sm btn-block btn-primary rounded">Sign in</button>
            <div class="text-center mt-1">
                <a class="d-block" style="font-size: small" href="#">Forgot Password</a>
                <a style="font-size: small" href="{% url 'authentication:signup' %}">Don't Have an Account?</a>
            </div>
        </form>
    </div>

{% endblock start_container %}